body {
	background-color: #482E74;
}

#background {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: -1;
}
.stretch {
	width:100%;
	height:100%;
}
h2 {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	color: #E6E0DC;
	background-color: #482E74;
}
.background {
	background: rgba(200, 54, 54, 0.5);
}
p.red {
	color: red;
}
p.gray {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	color: #29272B;
	background-color: #8F8C93;
}

.beer {
	color: pink;
}

#id-uno{
	color: green;
}

.groovy {
	font-size: 36px;
}

.borderr {
	border: 2px solid orange;
}
.center {
	display: block;
    margin-left: auto;
    margin-right: auto;
}
